# apt configuration: main sources list
# {{ ansible_managed }}

deb {{ debian_main_repository }} bookworm main contrib non-free-firmware
deb-src {{ debian_main_repository }} bookworm main contrib

deb {{ debian_security_repository }} bookworm-security main contrib
deb-src {{ debian_security_repository }} bookworm-security main contrib

deb {{ debian_main_repository }} bookworm-updates main contrib
deb-src {{ debian_main_repository }} bookworm-updates main contrib

deb {{ debian_pvc_repository }} bookworm pvc
deb-src {{ debian_pvc_repository }} bookworm pvc
