# apt configuration: main sources list
# {{ ansible_managed }}

deb http://ftp.debian.org/debian {{ ansible_distribution_release }} main contrib non-free
deb-src http://ftp.debian.org/debian {{ ansible_distribution_release }} main contrib

deb http://security.debian.org/ {{ ansible_distribution_release }}/updates main contrib
deb-src http://security.debian.org/ {{ ansible_distribution_release }}/updates main contrib

deb http://ftp.debian.org/debian/ {{ ansible_distribution_release }}-updates main contrib
deb-src http://ftp.debian.org/debian/ {{ ansible_distribution_release }}-updates main contrib

deb https://repo.bonifacelabs.net/debian/ {{ ansible_distribution_release }} pvc
deb-src https://repo.bonifacelabs.net/debian/ {{ ansible_distribution_release }} pvc
