# apt configuration: main sources list
# {{ ansible_managed }}

deb {{ debian_main_repository }} bullseye main contrib non-free
deb-src {{ debian_main_repository }} bullseye main contrib

deb {{ debian_security_repository }} bullseye-security main contrib
deb-src {{ debian_security_repository }} bullseye-security main contrib

deb {{ debian_main_repository }} bullseye-updates main contrib
deb-src {{ debian_main_repository }} bullseye-updates main contrib

deb {{ debian_pvc_repository }} bullseye main
