# GRUB configuration
# {{ ansible_managed }}
GRUB_DEFAULT=0
GRUB_TIMEOUT=5
GRUB_DISTRIBUTOR="PVC Parallel Virtual Cluster - Debian"
{% if debian_version|int >= 12 %}
GRUB_CMDLINE_LINUX="systemd.unified_cgroup_hierarchy=1 iommu=pt {{ grub_cmdline }}"
{% elif debian_version|int >= 11 %}
GRUB_CMDLINE_LINUX="systemd.unified_cgroup_hierarchy=1 {{ grub_cmdline }}"
{% else %}
GRUB_CMDLINE_LINUX="{{ grub_cmdline }}"
{% endif %}
GRUB_TERMINAL_INPUT="console serial"
GRUB_TERMINAL_OUTPUT="gfxterm serial"
GRUB_SERIAL_COMMAND="{{ grub_serial }}"
GRUB_THEME="/usr/share/grub-pvc/theme.txt"
