# PVC node interface-specific interface file - {{ network.key }}
# {{ ansible_managed }}

auto {{ network.value['device'] }}
iface {{ network.value['device'] }} inet manual
    post-up ip link set $IFACE mtu {{ network.value['mtu'] }}
{% if network.value['type'] == 'bond' %}
    bond-mode {{ network.value['bond_mode'] }}
    bond-slaves {{ network.value['bond_devices'] | join(' ') }}
{% endif %}
{% if network.value['type'] == 'vlan' %}
    vlan_raw_device {{ network.value['raw_device'] }}
{% endif %}
