# {{ ansible_managed }}
ZOOMAIN=org.apache.zookeeper.server.quorum.QuorumPeerMain
ZOOCFGDIR=/etc/zookeeper/conf
ZOOCFG=/etc/zookeeper/conf/zoo.cfg
ZOO_LOG_DIR=/var/log/zookeeper
ZOO_LOG4J_PROP=INFO,ROLLINGFILE
JMXLOCALONLY=false
# java.net.preferIPv4Stack=True
#   Prefer IPv4 over IPV6 to avoid strange headaches in mixed environments.
# jute.maxbuffer=67108864
#   Increase the maximum buffer size from 1048575 (1MB) to 67108864 (64MB); required to allow a single `create`
#   transaction, in the /api/v1/restore specifically, of >1MB of data; 64MB seems a reasonable limit given my
#   cluster is only ~5.2MB of raw JSON data and beyond 12x that seems like a cluster too large for PVC.
JAVA_OPTS="-Djava.net.preferIPv4Stack=True -Djute.maxbuffer=67108864 -Xms{{ pvc_zookeeper_heap_limit }} -Xmx{{ pvc_zookeeper_heap_limit }} -Xss{{ pvc_zookeeper_stack_limit }} -XX:+AlwaysPreTouch"
JAVA=/usr/bin/java
CLASSPATH="/etc/zookeeper/conf:/usr/share/java/jline.jar:/usr/share/java/log4j-1.2.jar:/usr/share/java/xercesImpl.jar:/usr/share/java/xmlParserAPIs.jar:/usr/share/java/netty.jar:/usr/share/java/slf4j-api.jar:/usr/share/java/slf4j-log4j12.jar:/usr/share/java/zookeeper.jar"
