# Zookeeper Prometheus exporter arguments
# {{ ansible_managed }}

# Set the zk-hosts to our cluster local IP address as this is where Zookeeper listens
ARGS="-zk-hosts='{% for node in pvc_nodes if node.hostname == this_node %}{{ node.cluster_ip }}{% endfor %}:2181'"
