# Zookeeper Prometheus exporter arguments
# {{ ansible_managed }}

ARGS="-zk-hosts='{% for node in pvc_nodes if node.is_coordinator %}{{ node.hostname }}:2181{% if not loop.last %},{% endif %}{% endfor %}'"
