---
- name: restart rsyslog
  service:
    name: rsyslog
    state: restarted

- name: restart xinetd
  service:
    name: xinetd
    state: restarted

- name: restart postfix
  service:
    name: postfix
    state: restarted

- name: restart ntp
  service:
    name: ntp
    state: restarted

- name: restart ssh
  service:
    name: ssh
    state: restarted

- name: restart fail2ban
  service:
    name: fail2ban
    state: restarted

- name: newaliases
  command: newaliases

- name: update grub
  command: update-grub
