[DEFAULT]
maxretry    = 3
bantime     = 14400
ignoreip    = 127.0.0.0/8 {% for ignore in fail2ban_ignorelist %}{{ ignore }} {% endfor %}

[ssh]
enabled     = true
filter      = sshd
action      = route
logpath     = /var/log/auth.log

