---
- name: restart zookeeper
  service:
    name: zookeeper
    state: restarted

- name: restart libvirtd
  service:
    name: libvirtd
    state: restarted

- name: restart frr
  service:
    name: frr
    state: restarted

- name: restart patroni
  service:
    name: patroni
    state: restarted

- name: restart ceph-mon
  service:
    name: ceph-mon@{{ ansible_hostname }}
    state: restarted

- name: restart ceph-mgr
  service:
    name: ceph-mgr@{{ ansible_hostname }}
    state: restarted

# Restart pvcd, but sequentially one-host-at-a-time with a 15s wait in between; this provides
# plenty of time for the primary state to switch around without putting the cluster in a
# no-primary state
- name: restart pvcd
  shell: systemctl restart pvcd && sleep 15
  ignore_errors: true
  run_once: true
  delegate_to: "{{ play_host }}"
  with_items: "{{ play_hosts }}"
  loop_control:
    loop_var: play_host
