---
# The name of the Ansible cluster group, used to set file paths and determine hosts in the cluster
# This should match the lowest-level group in the Ansible `hosts` file that defines this cluster
cluster_group: default

# Local timezone for the cluster
timezone_location: Canada/Eastern

# Cluster domain for node FQDNs
local_domain: upstream.local

# IPMI user and password
# > For the password, use pwgen to generate.
# > Set these in the IPMI configuration as a user with permissions to reboot the host.
username_ipmi_host: pvc
passwd_ipmi_host: ""

# Root user password (as /etc/shadow hash)
# > Use pwgen to generate and openssl passwd -1 -salt xyz <pw> to hash.
passwdhash_root: ""

# Log rotation configuration
logrotate_keepcount: 7
logrotate_interval: daily

# Root email name (usually "root")
username_email_root: root

# Hosts entries
hosts:
  - name: test
    ip: 127.0.0.1

# Administrative shell users for the cluster
admin_users:
  - name: "myuser"
    uid: 500
    keys:
      - "ssh-ed25519 MyKey 2019-06"

# Node network definitions (used by /etc/network/interfaces and PVC)
# > The "type" can be one of three NIC types: "nic" for raw NIC devices, "bond" for ifenslave bonds,
#   or "vlan" for vLAN interfaces. The PVC role will write out an interfaces file matching these specs.
# > Three names are reserved for the PVC-specific interfaces: upstream, cluster, and storage; others
#   may be used at will to describe the other devices.
# > All devices should be using the newer device name format (i.e. enp1s0f0 instead of eth0).
# > In this example configuration, the "upstream" device is an LACP bond of the first two onboard NICs,
#   with the two other PVC networks being vLANs on top of this device.
# > Usually, the Upstream network provides Internet connectivity for nodes in the cluster, and all
#   nodes are part of it regardless of function for this reason; an optional, advanced, configuration
#   will have only coordinators in the upstream network, however this configuration is out of the scope
#   of this role.
networks:
  "upstream":
    device: "bondU"
    type: "bond"
    bond_mode: "802.3ad"
    bond_devices:
      - "enp1s0f0"
      - "enp1s0f1"
    mtu: 1500
    domain: "{{ local_domain }}"
    netmask: "24"
    subnet: "192.168.100.0"
    floating_ip: "192.168.100.10"
    gateway_ip: "192.168.100.1"
  "cluster":
    device: "vlan1001"
    type: "vlan"
    raw_device: "bondU"
    mtu: 1500
    domain: "pvc-cluster.local"
    netmask: "24"
    subnet: "10.0.0.0"
    floating_ip: "10.0.0.254"
  "storage":
    device: "vlan1002"
    type: "vlan"
    raw_device: "bondU"
    mtu: 1500
    domain: "pvc-storage.local"
    netmask: "24"
    subnet: "10.0.1.0"
    floating_ip: "10.0.1.254"
