---
# pvc-api client configuration
# {{ ansible_managed }}
pvc:
    coordinators:
{% for node in pvc_nodes if node.is_coordinator %}
        - {{ node.hostname }}.{{ pvc_cluster_domain }}
{% endfor %}
    api:
        listen_address: "{{ pvc_api_listen_address }}"
        listen_port: "{{ pvc_api_listen_port }}"
        authentication:
            key: "{{ pvc_api_authentication_key }}"
