---
- name: install frr packages
  apt:
    name:
      - frr
    state: latest
  register: apt_res
  retries: 5
  until: apt_res is success

- name: install frr configuration
  template:
    src: frr/{{ item }}.j2
    dest: /etc/frr/{{ item }}
  with_items:
    - daemons
    - frr.conf
  notify: restart frr
  ignore_errors: true

- name: disable services
  service:
    name: "{{ item }}"
    enabled: no
  with_items:
    - frr

- meta: flush_handlers
