# apt configuration: pinning preferences
# {{ ansible_managed }}

Package: *
Pin: release a={{ debian_codename }}
Pin-Priority: 999

{% if 'base' in group_names %}
Package: *
Pin: release a={{ debian_codename }}-backports
Pin-Priority: -1
{% endif %}
