# PVC Ceph OSD cpuset service unit
# {{ ansible_managed }}
[Unit]
Description = Ceph OSD cpuset shield creation
Before = ceph-osd@.service libvirtd.service

[Service]
Type = oneshot
ExecStart = /usr/local/sbin/ceph-osd-cpuset

[Install]
WantedBy = ceph.target
