
  ███████████████████████ █████           █████ ███████████  ██  ██  ██
  ███████████████████████  █████         █████  ███████████  ██  ██  ██
                     ████   █████       █████   ████
                     ████    █████     █████    ████
  ███████████████████████     █████   █████     ████
  ███████████████████████      █████ █████      ████
  ███                           █████████       ███████████████████████
  ███                            ███████        ███████████████████████


                   Parallel Virtual Cluster (PVC) Node

  Node name:    {{ ansible_fqdn }}
  Cluster name: {{ cluster_group }}
  Managed by:   {{ manager_email }}
  Base System:  {{ ansible_lsb.description }}

  UNAUTHORIZED ACCESS IS PROHIBITED. ALL LOGIN ATTEMPTS WILL BE LOGGED.

