# Main NTP configuration
# {{ ansible_managed }}

driftfile /var/lib/ntp/ntp.drift

statistics loopstats peerstats clockstats

filegen loopstats file loopstats type day enable
filegen peerstats file peerstats type day enable
filegen clockstats file clockstats type day enable

disable auth

# Enable orphan mode if cluster cannot connect to the Internet
tos orphan 6
server 127.0.0.1
fudge  127.0.0.1 stratum 10

# NRC public NTP masters
server time.nrc.ca iburst
server time.chu.nrc.ca iburst

# Local PVC cluster
{% for host in groups[cluster_group] %}
peer {{ host }}
{% endfor %}

# Provide NTP for others via multicast
multicast 224.0.0.3
multicast ff05::103

restrict -4 default notrap nomodify
restrict -6 default notrap nomodify
restrict 127.0.0.1
restrict ::1
