# Main NTP configuration
# {{ ansible_managed }}

driftfile /var/lib/ntp/ntp.drift

statistics loopstats peerstats clockstats

filegen loopstats file loopstats type day enable
filegen peerstats file peerstats type day enable
filegen clockstats file clockstats type day enable

disable auth

# NRC public NTP masters
server time.nrc.ca iburst
server time.chu.nrc.ca iburst

# Local PVC cluster
{% for host in groups[hostvars[inventory_hostname].group_names[0]] %}
server {{ host }} iburst
{% endfor %}

# Provide NTP for others via multicast
multicast 224.0.0.3
multicast ff05::103

restrict -4 default notrap nomodify
restrict -6 default notrap nomodify
restrict 127.0.0.1
restrict ::1
