---
# PVC Autobackup configuration
# {{ ansible_managed }}

autobackup:
  backup_root_path: {{ pvc_autobackup.backup_root_path }}
  backup_root_suffix: {{ pvc_autobackup.backup_root_suffix }}
  backup_tags:
{% for tag in pvc_autobackup.backup_tags %}
    - {{ tag }}
{% endfor %}
  backup_schedule:
    full_interval: {{ pvc_autobackup.schedule.full_interval }}
    full_retention: {{ pvc_autobackup.schedule.full_retention }}
  auto_mount:
    enabled: {{ pvc_autobackup.auto_mount.enabled }}
    mount_cmds:
{% for cmd in pvc_autobackup.auto_mount.mount_cmds %}
      - "{{ cmd }}"
{% endfor %}
    unmount_cmds:
{% for cmd in pvc_autobackup.auto_mount.unmount_cmds %}
      - "{{ cmd }}"
{% endfor %}
