iface ipmi inet manual
    pre-up ipmitool lan set {{ ipmi['hosts'][this_node]['channel']|default("1") }} ipsrc static
    pre-up ipmitool lan set {{ ipmi['hosts'][this_node]['channel']|default("1") }} ipaddr {{ ipmi['hosts'][this_node]['address'] }}
    pre-up ipmitool lan set {{ ipmi['hosts'][this_node]['channel']|default("1") }} netmask {{ ipmi['hosts'][this_node]['netmask'] }}
    pre-up ipmitool lan set {{ ipmi['hosts'][this_node]['channel']|default("1") }} defgw ipaddr {{ ipmi['hosts'][this_node]['gateway'] }}
