iface ipmi inet manual
    pre-up ipmitool lan set 1 ipsrc static
    pre-up ipmitool lan set 1 ipaddr {{ ipmi['hosts'][this_node]['address'] }}
    pre-up ipmitool lan set 1 netmask {{ ipmi['hosts'][this_node]['netmask'] }}
    pre-up ipmitool lan set 1 defgw ipaddr {{ ipmi['hosts'][this_node]['gateway'] }}
